<apex:page controller="controlActividades" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false"
    applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="es-HN">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Actividades</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
    </head>
    <!-- vamos  a darle
    <apex:remoteObjects>
        <apex:remoteObjectModel name="Casos_Portal__c" fields="Id, Name" />
    </apex:remoteObjects>
-->

    <body>
        <div class="slds-scope">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-case" title="Description of icon when needed">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#product"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="slds-col slds-has-flexi-truncate">
                        <p class="slds-text-title--caps slds-line-height--reset">Actividades</p>
                        <h1 class="slds-page-header__title slds-truncate" title="Mis contactos">Mis Actividades</h1>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top">
                        <a class=" slds-button slds-button--neutral" target="_self" href='/apex/vfCrearActividades?&idUsuario={!$CurrentPage.parameters.idUsuario}'>Nuevo</a>
                    </div>
                </div>
            </div>
        
        <br/>
        <br/>
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead>
                <tr>
                    <th scope="col">
                        <div>NOMBRE DE LA ACTIVIDAD</div>
                    </th>
                    <th scope="col">
                        <div>IMPORTE</div>
                    </th>
                    <th scope="col" class="slds-align_absolute-center">
                        <div class="slds-truncate" title="ELIMINAR">ELIMINAR</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <apex:repeat value="{!actividades}" var="item">
                    <tr>
                        <td scope="col">
                            <a target="_self" href="/apex/vfEditarActividades?&id={!item.Id}&idUsuario={!$CurrentPage.parameters.idUsuario}">{!item.Nombre_de_la_actividad__c}</a>
                        </td>
                        <td scope="col"></td>
                        <td scope="col">
                            <button class="slds-button slds-button_icon slds-align_absolute-center" id="{!item.Id}" onclick="myFunction(this.id,this.value)"
                                value="{!item.Name}">
                                <svg class="slds-button__icon " aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#delete"
                                    />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </apex:repeat>
            </tbody>
        </table>
        <footer role="contentinfo" class="slds-p-around--large">
            <div class="slds-grid slds-grid--align-spread">
                <p class="slds-col">Prueba de pagina salesforce</p>
                <p class="slds-col">&copy; Jorge Hernández</p>
            </div>
        </footer>
                            
            </div>
        <script>
            /*Esto recarga la pagina*/
            window.onload = function () {
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
            /*fin de la recarga*/


            function myFunction(idCliente) {
                var modal2 = document.getElementById('myModal2');
                /* var btn2 = document.getElementById("myBtn2");*/
                modal2.style.display = "block";
                var span2 = document.getElementsByClassName("close2")[0];
                span2.onclick = function () {
                    modal2.style.display = "none";
                }

                var contactForm2 = document.getElementById('form2');
                var eliminarContacto = function () {
                    var account = new SObjectModel.ProspectosPortal__c();
                    account.del([idCliente], function (error, records) {
                        if (error) {
                            alert(error.message);
                        } else {
                            modal2.style.display = "none";
                            location.reload();
                        }
                    });
                }
                contactForm2.addEventListener('submit', function (e) {
                    e.preventDefault();
                    eliminarContacto();
                });
            }

        </script>
    </body>

    </html>
</apex:page>