<apex:page controller="controlCasos" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false"
    applyBodyTag="false" docType="html-5.0">
    <html>
	
    <head xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="es-HN">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Casos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
    </head>
    <apex:remoteObjects >
        <apex:remoteObjectModel name="Casos_Portal__c" fields="Id,Name,Usuario_Portal__c" />
    </apex:remoteObjects>

    <body>
        <div class="slds-scope">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-case" title="Description of icon when needed">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#case"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="slds-col slds-has-flexi-truncate">
                        <p class="slds-text-title--caps slds-line-height--reset">Casos</p>
                        <h1 class="slds-page-header__title slds-truncate" title="Mis contactos">Mis casos</h1>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top">
                        <a class=" slds-button slds-button--neutral" target="_self" href='/apex/vfCrearCasos?&idUsuario={!$CurrentPage.parameters.idUsuario}'>Nuevo</a>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <div>
                <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                        <tr class="slds-text-heading--label">
                            <th scope="col">
                                <div class="slds-truncate" title="CÓDIGO">CÓDIGO DEL CASO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="NOMBRE">NOMBRE DEL CASO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="ESTADO">ESTADO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="FECHA/HORA DE APERTURA">FECHA/HORA DE APERTURA</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="PRIORIDAD">PRIORIDAD</div>
                            </th>
                            <th scope="col" class="slds-align_absolute-center">
                                <div class="slds-truncate" title="ELIMINAR">ELIMINAR</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!casos}" var="item">
                            <tr>
                                <th scope="row" data-label="NOMBRE">
                                    <a target="_self" href="/apex/vfEditarCasos?&id={!item.Id}&idUsuario={!$CurrentPage.parameters.idUsuario}">{!item.Name}</a>
                                </th>
                                <td data-label="TÍTULO">
                                    <div class="slds-truncate" title="{!item.Nombre_del_caso__c}">{!item.Nombre_del_caso__c}</div>
                                </td>
                                <td data-label="TÍTULO">
                                    <div class="slds-truncate" title="{!item.Estado__c}">{!item.Estado__c}</div>
                                </td>
                                <td data-label="COMPAÑÍA">
                                    <apex:outputText value="{0, date, dd-MM-YYYY}">
                                        <apex:param value="{!item.CreatedDate}" />
                                    </apex:outputText>
                                </td>
                                <td data-label="TELÉFONO">
                                    <div class="slds-truncate" title="{!item.Prioridad__c}">{!item.Prioridad__c}</div>
                                </td>
                                <td scope="col">
                                    <button class="slds-button slds-button_icon slds-align_absolute-center" id="{!item.Id}" onclick="myFunction(this.id)" value="{!item.Name}">
                                        <svg class="slds-button__icon " aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#delete"
                                            />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            <footer role="contentinfo" class="slds-p-around--large">
                <div class="slds-grid slds-grid--align-spread">
                    <p class="slds-col">Prueba de pagina salesforce</p>
                    <p class="slds-col">&copy; Jorge Hernández</p>
                </div>
            </footer>
            <div id="myModal" style="height: 640px; display:none;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                    class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="close3 slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close"
                                    />
                                </svg>
                                <span class="slds-assistive-text">Cerrar</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Crear Prospecto</h2>
                        </header>
                        <form id="add-caso-form">
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-form slds-form_compound">
                                    <fieldset class="slds-form-element">
                                        <!--<legend class="slds-form-element__label slds-text-title_caps">Location</legend>-->
                                        <div class="slds-form-element__group">
                                            <div class="slds-form-element__row">
                                                <div class="slds-form-element slds-size_2-of-2">
                                                    <label class="slds-form-element__label" for="casoNombre">Nombre</label>
                                                    <input type="text" id="casoNombre" class="slds-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="close slds-button slds-button_neutral" type="button">Cancelar</button>
                                <button class="slds-button slds-button_brand" type="submit">Guardar</button>
                            </footer>
                        </form>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
            <div id="myModal2" style="display: none;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                    class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Eliminar Prospecto</h2>
                        </header>
                        <form id="form2">
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-text-align--center">Realmente desea eliminar este Caso!</div>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="close2 slds-button slds-button_neutral" type="button">Cancelar</button>
                                <button class="slds-button slds-button--destructive" type="submit">Eliminar</button>
                            </footer>
                        </form>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </div>
        <script>
            /*Esto recarga la pagina*/
            window.onload = function () {
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
            /*fin de la recarga*/


            function myFunction(idCliente) {
                var modal2 = document.getElementById('myModal2');
                /* var btn2 = document.getElementById("myBtn2");*/
                modal2.style.display = "block";
                var span2 = document.getElementsByClassName("close2")[0];
                span2.onclick = function () {
                    modal2.style.display = "none";
                }

                var contactForm2 = document.getElementById('form2');
                var eliminarContacto = function () {
                    var account = new SObjectModel.Casos_Portal__c();
                    account.del([idCliente], function (error, records) {
                        if (error) {
                            alert(error.message);
                        } else {
                            modal2.style.display = "none";
                            location.reload();
                        }
                    });
                }
                contactForm2.addEventListener('submit', function (e) {
                    e.preventDefault();
                    eliminarContacto();
                });
            }
   
        </script>
    </body>

    </html>
</apex:page>