<apex:page standardController="Quote" extensions="extCrearPresupuestos" showHeader="false" sidebar="false"
    docType="html-5.0" standardStylesheets="true">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="es-HN">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <style>
        th {
            border: 0px !important;
        }
        th{
        padding-top: 12px !important;
        }

        .dataCol {
            border: 0px !important;
        }

        input[type=text] {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            display: inline-block;
            padding: 0 1rem 0 .75rem;
            line-height: 1.875rem;
            min-height: calc(1.875rem + (1px * 2))
        }

        textarea {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            resize: vertical;
            padding: .5rem .75rem
        }

        select {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            height: calc(1.875rem + (1px * 2))
        }

        body .bPageBlock,
        body #bodyCell .bResource .secondaryPalette,
        body .secondaryPalette.bPageBlock,
        body .individualPalette .secondaryPalette.bPageBlock {
            background-color: #fff;
        }

        .lookupIcon {
            display: none;
        }

        span.lookupInput a {
            color: #999 !important;
            display: inline;
            position: relative;
            left: -2em;
        }


        .dateFormat {
            display: none;
        }
        #j_id13_lkwgt{
        display:none !important;
        }
    </style>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Crear presupuestos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
    </head>

    <body>
        <div class="slds-scope">
            <div class="slds-brand-band slds-brand-band_cover slds-brand-band_medium slds-template_default forceBrandBand">
                <div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon_container_circle slds-icon-standard-quotes" title="Presupuesto">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/action-sprite/svg/symbols.svg#quote"
                                    />
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Presupuesto">Presupuestos</h1>
                            <p class="slds-text-body_small slds-line-height_reset">{!Quote.Name}</p>
                        </div>
                    </div>
                </div>
                <div class="slds-tabs_card">
                    <apex:form >
                        <apex:pageBlock >
                            <apex:pageBlockButtons location="bottom">
                                <a class=" slds-button slds-button--neutral" target="_self" href='/apex/vfPresupuestos?&idUsuario={!$CurrentPage.parameters.idUsuario}'>Cancelar</a>
                                <apex:commandButton styleClass="slds-button slds-button_brand" value="Guardar" action="{!guardar2}" />
                            </apex:pageBlockButtons>
                            <apex:pageBlockSection columns="2">
                                <apex:inputField value="{!Quote.Name}" />
                                <apex:inputField value="{!Quote.ExpirationDate}" />
                                <apex:inputField value="{!Quote.Usuario_Portal__c}" html-disabled="true" style="pointer-events: none;" />
                                <apex:inputField value="{!Quote.IsSyncing}"/>
                                <apex:inputField value="{!Quote.OpportunityId}"/>
                                <apex:inputField value="{!Quote.Status}"/>
                                <apex:inputField value="{!Quote.ContactId}"/>
                                <apex:inputField value="{!Quote.Description}"/>
                                
                                    <apex:repeat value="{!editableFields}" var="f">
                                            <apex:inputField value="{!Quote[f]}" />
                                    </apex:repeat>
                            </apex:pageBlockSection>
                        </apex:pageBlock>
                    </apex:form>
                </div>
                <footer role="contentinfo" class="slds-p-around--large">
                    <!-- LAYOUT GRID -->
                    <div class="slds-grid slds-grid--align-spread">
                        <p class="slds-col">Prueba de pagina salesforce</p>
                        <p class="slds-col">&copy; Jorge Hernández</p>
                    </div>
                    <!-- / LAYOUT GRID -->
                </footer>
            </div>
            <div id="myModal2">
              <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                     <div class="demo-only" style="height: 6rem;">
                      <div role="status" class="slds-spinner slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                      </div>
                    </div>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            $("span.lookupInput a").addClass("fa fa-search");
        </script>
        <script>
            /*Esto recarga la pagina*/
             window.onload = function () {                
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();                    
                }	else	{
                    var contenedor = document.getElementById('myModal2');
                    contenedor.style.display = 'None';
                    contenedor.style.opacity = '0';
                }
            }
        </script>
    </body>

    </html>

</apex:page>