<apex:page standardController="ContactoPortal__c" extensions="extEditarContactos" showHeader="false" standardStylesheets="true"
    sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="es-HN">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        th {
            border: 0px !important;
        }

        .dataCol {
            border: 0px !important;
        }

        input[type=text] {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            display: inline-block;
            padding: 0 1rem 0 .75rem;
            line-height: 1.875rem;
            min-height: calc(1.875rem + (1px * 2))
        }

        textarea {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            resize: vertical;
            padding: .5rem .75rem
        }

        select {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 219, 218);
            border-radius: .25rem;
            width: 95%;
            transition: border .1s linear, background-color .1s linear;
            height: calc(1.875rem + (1px * 2))
        }

        body .bPageBlock,
        body #bodyCell .bResource .secondaryPalette,
        body .secondaryPalette.bPageBlock,
        body .individualPalette .secondaryPalette.bPageBlock {
            background-color: #fff;
        }

        .lookupIcon {
            display: none;
        }

        span.lookupInput a {
            color: #999 !important;
            display: inline;
            position: relative;
            left: -2em;
        }


        .dateFormat {
            display: none;
        }
    </style>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Edicion de cuentas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
    </head>

    <body>
        <div class="slds-scope">
            <div class="slds-brand-band slds-brand-band_cover slds-brand-band_medium slds-template_default forceBrandBand">
                <div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon_container_circle slds-icon-standard-contact" title="Contacto">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/action-sprite/svg/symbols.svg#add_contact"
                                    />
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Contacto">Contacto</h1>
                            <p class="slds-text-body_small slds-line-height_reset">{!ContactoPortal__c.Name}</p>
                        </div>
                    </div>
                </div>
                <div class="slds-tabs_card">
                    <apex:form>
                        <apex:pageBlock>
                            <apex:pageBlockButtons location="bottom">
                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="Cancelar" action="{!cancelarr}" />
                                <apex:commandButton styleClass="slds-button slds-button_brand" value="Guardar" action="{!guardar}" />
                            </apex:pageBlockButtons>
                            <apex:pageBlockSection columns="2">
                                <div class="slds-form-element">
                                    <apex:repeat value="{!accessibleFields}" var="f">

                                        <apex:pageBlockSectionItem>
                                            <apex:outputLabel styleClass="slds-form-element__label" value="{!$ObjectType['ContactoPortal__c'].Fields[f].Label}" />
                                            <apex:inputField value="{!ContactoPortal__c[f]}" />
                                        </apex:pageBlockSectionItem>

                                    </apex:repeat>
                                </div>
                            </apex:pageBlockSection>
                        </apex:pageBlock>
                    </apex:form>
                </div>
                <footer role="contentinfo" class="slds-p-around--large">
                    <!-- LAYOUT GRID -->
                    <div class="slds-grid slds-grid--align-spread">
                        <p class="slds-col">Prueba de pagina salesforce</p>
                        <p class="slds-col">&copy; Jorge Hernández</p>
                    </div>
                    <!-- / LAYOUT GRID -->
                </footer>
            </div>
        </div>
        <script>
            $("span.lookupInput a").addClass("fa fa-search");
        </script>
        <script>
            window.onload = function () {
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>
    </body>

    </html>
</apex:page>