<apex:page controller="controlPresupuestos" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false"
    applyBodyTag="false" docType="html-5.0">
    <html>

    <head xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="es-HN">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Presupuesto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
    </head>

    </html>
   
<apex:remoteObjects >
        <apex:remoteObjectModel name="Presupuesto_Portal__c" fields="Id" />
    </apex:remoteObjects> 

    <body>
        <div class="slds-scope">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-quotes" title="Description of icon when needed">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#quotes"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="slds-col slds-has-flexi-truncate">
                        <p class="slds-text-title--caps slds-line-height--reset">Presupuesto</p>
                        <h1 class="slds-page-header__title slds-truncate" title="Mis contactos">Mis Presupuestos</h1>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top">
                        <a class=" slds-button slds-button--neutral" target="_self" href='/apex/vfCrearPresupuestos?&idUsuario={!$CurrentPage.parameters.idUsuario}'>Nuevo</a>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div>
                <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="slds-truncate" title="">Código del recibo</div>
                            </th>
                            <th scope="col" class="slds-align_absolute-center">
                                <div class="slds-truncate" title="ELIMINAR">ELIMINAR</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!presupuestos}" var="item">
                            <tr>
                                <th scope="row" data-label="NOMBRE">
                                    <a class="slds-truncate" target="_self" href="/apex/vfVerPresupuestos?&id={!item.Id}&idUsuario={!$CurrentPage.parameters.idUsuario}">{!item.Name}</a>
                                </th>
                                <td scope="col">
                                    <button class="slds-button slds-button_icon slds-align_absolute-center" id="{!item.Id}" onclick="myFunction(this.id,this.value)" value="{!item.Name}">
                                        <svg class="slds-button__icon " aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#delete"
                                            />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            <footer role="contentinfo" class="slds-p-around--large">
                <div class="slds-grid slds-grid--align-spread">
                    <p class="slds-col">Prueba de pagina salesforce</p>
                    <p class="slds-col">&copy; Jorge Hernández</p>
                </div>
            </footer>
            <div id="myModal2">
              <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <div class="demo-only" style="height: 6rem;">
                      <div role="status" class="slds-spinner slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                      </div>
                    </div>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </div>
        <script>
            /*Esto recarga la pagina*/
             window.onload = function () {                
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();                    
                }	else	{
                    var contenedor = document.getElementById('myModal2');
                    contenedor.style.display = 'None';
                    contenedor.style.opacity = '0';
                }
            }
        </script>

    </body>

</apex:page>