<apex:page controller="controlProspectos" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false"
    applyBodyTag="false" docType="html-5.0">
    <html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Prospectos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Import the Design System style sheet -->
        <apex:slds />
    </head>

    <body>
        <div class="slds-scope">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-media__figure">
                        <spam class="slds-icon_container slds-icon-standard-lead" title="Description of icon when needed">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#lead"
                                />
                            </svg>
                        </spam>
                    </div>
                    <div class="slds-col slds-has-flexi-truncate">
                        <p class="slds-text-title--caps slds-line-height--reset">Prospectos</p>
                        <h1 class="slds-page-header__title slds-truncate" title="Prospectos">Mis Prospectos</h1>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top">
                        <a class=" slds-button slds-button--neutral" target="_self" href='/apex/vfCrearProspectos?&idUsuario={!$CurrentPage.parameters.idUsuario}'>Nuevo</a>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div>
                <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                        <tr class="slds-text-heading--label">
                            <th scope="col">
                                <div class="slds-truncate" title="NOMBRE DEL PROSPECTO">NOMBRE DEL PROSPECTO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="TÍTULO">TÍTULO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="COMPAÑÍA">COMPAÑÍA</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="TELÉFONO">TELÉFONO</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="EMAIL">EMAIL</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="ESTADO DE PROSPECTO">ESTADO DE PROSPECTO</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!prospects}" var="item">
                            <tr>
                                <th scope="row" data-label="NOMBRE">
                                    <a target="_self" href="/apex/vfEditarProspectos?&id={!item.Id}&idUsuario={!$CurrentPage.parameters.idUsuario}">{!item.Name}</a>
                                </th>
                                <td data-label="TÍTULO">
                                    <div class="slds-truncate" title="{!item.Title}">{!item.Title}</div>
                                </td>
                                <td data-label="COMPAÑÍA">
                                    <div class="slds-truncate" title="{!item.Company}">{!item.Company}</div>
                                </td>
                                <td data-label="TELÉFONO">
                                    <div class="slds-truncate" title="{!item.Phone}">{!item.Phone}</div>
                                </td>
                                <td data-label="EMAIL">
                                    <div class="slds-truncate" title="{!item.Email}">{!item.Email}</div>
                                </td>
                                <td data-label="ESTADO DE PROSPECTO">
                                    <div class="slds-truncate" title="{!item.Status}">{!item.Status}</div>
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            <footer role="contentinfo" class="slds-p-around--large">
                <div class="slds-grid slds-grid--align-spread">
                    <p class="slds-col">Prueba de pagina salesforce</p>
                    <p class="slds-col">&copy; Jorge Hernández</p>
                </div>
            </footer>
            <div id="myModal2" style="display: none;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                    class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Eliminar Prospecto</h2>
                        </header>
                        <form id="form2">
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-text-align--center">Realmente desea eliminar este prospecto!</div>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="close2 slds-button slds-button_neutral slds-m-top--medium" type="button">Cancelar</button>
                                <button class="slds-button slds-button--destructive slds-m-top--medium" type="submit">Eliminar</button>
                            </footer>
                        </form>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </div>
        <script>
            /*Esto recarga la pagina*/
            window.onload = function () {
                if (!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }/*
            /*fin de la recarga*//*
            function myFunction(idCliente) {
                var modal2 = document.getElementById('myModal2');
                /* var btn2 = document.getElementById("myBtn2");*//*
                modal2.style.display = "block";
                var span2 = document.getElementsByClassName("close2")[0];
                span2.onclick = function () {
                    modal2.style.display = "none";
                }

                var contactForm2 = document.getElementById('form2');
                var eliminarContacto = function () {
                    var account = new SObjectModel.ProspectosPortal__c();
                    account.del([idCliente], function (error, records) {
                        if (error) {
                            alert(error.message);
                        } else {
                            modal2.style.display = "none";
                            location.reload();
                        }
                    });
                }
                contactForm2.addEventListener('submit', function (e) {
                    e.preventDefault();
                    eliminarContacto();
                });
            }*/
        </script>
    </body>

    </html>

</apex:page>